Execute*
*.dSYM/
.DS_Store
Samples
SamplesMC
SamplesData
*pdf
*root
HerwigSamples
Herwig715Samples
SherpaSamples
Pythia8Samples
PyquenSamples
Dictionary_rdict.pcm
*.pu14
Input
UnfoldedInput
Output
Systematics
*.dh
